doctype html
//- basic libraries: jquery(1.10.2), d3js(3.3.11), angularjs(1.2.3), bootstrap(3.0)/semantic-ui(0.9.3/0.9.5)
- var usecdn = false
- var useog = true
- var lib = { jquery: true, d3js: true, angular: true, bootstrap: true, semantic: false }
- var assets = "assets"
- var thumbnail = "http://g0v.github.io/cancer/viz/thumbnail.png"
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    title 全台各鄉鎮癌症地圖
    // libraries
    include library.jade
    // custom files
    link(rel="stylesheet",type="text/css",href="index.css")
    script(type="text/javascript",src="topojson.js")
    script(type="text/javascript",src="canvg.js")
    script(type="text/javascript",src="index.js")
  body(ng-app,ng-controller="main")
    .title 全台各鄉鎮癌症個案數資料開放
    .row
      .col-sm-6
        svg#svg(width="100%",height="600px",viewBox="0 0 800 600",preserveAspectRatio="xMidYMid")
          text(x="175",y="50",ng-show="!normalize") 人數
          text(x="175",y="50",ng-show="normalize") %
      .col-sm-6
        #chosen {{chosen}} / {{ chosenValue }}
        form.form-inline
          .btn.btn-default(ng-click="play()") play
          .btn.btn-default(ng-click="stop()") stop
          .form-group
            select.form-control(ng-model="curyear")
              option(ng-repeat="y in years",value="{{y}}") {{y}}
          .form-group
            select.form-control(ng-model="curdis",style="min-width:300px")
              option(ng-repeat="d in diseases",value="{{d}}") {{d}}
          br
          .checkbox(style="margin:10px 0 0 0 ")
            label
              input(type="checkbox",ng-model="normalize")
              |  粗率
          .checkbox(style="margin:10px 0 0 20px")
            label
              input(type="checkbox",ng-model="fixlegend")
              |  固定比例尺
          .checkbox(style="margin:10px 0 0 20px")
            label
              input(type="checkbox",ng-model="slower")
              |  慢一點
          br
          .fb-like(style="-webkit-transform:scale(1.5) translate(17px,0);margin-top:10px",data-href="http://g0v.github.io/cancer/viz/",data-layout="button_count",data-action="like",data-show-faces="true",data-share="true")
        h3(style="font-family:'century gothic'")
          .note 請注意
        ul(style="font-size:1.5em")
          li 
            | 除錯中，可能有錯，若發現問題請回饋至 
            a(href="https://g0v.hackpad.com/fj3KFYXmoY2") 這裡
          li 
            | 為什麼沒有台南市關廟區的資料？ 因為抓不下來:
            br
            img(src="crash.png")
        hr

    #fb-root
    script.
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=538062799648166";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
