<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <title>全台各鄉鎮癌症地圖</title>
    <!-- libraries-->
    <meta property="og:locale" content="zh_TW">
    <meta property="og:image" content="http://g0v.github.io/cancer/viz/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="200">
    <meta property="og:image:height" content="200">
    <script type="text/javascript" src="assets/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="assets/d3js/3.0.8/d3.v3.min.js"></script>
    <script type="text/javascript" src="assets/angular/1.2.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/3.0.2/css/bootstrap.min.css">
    <script type="text/javascript" src="assets/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <!-- custom files-->
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="topojson.js"></script>
    <script type="text/javascript" src="canvg.js"></script>
    <script type="text/javascript" src="index.js"></script>
  </head>
  <body ng-app ng-controller="main">
    <div class="title">全台各鄉鎮癌症個案數資料開放</div>
    <div class="row">
      <div class="col-sm-6">
        <svg id="svg" width="100%" height="600px" viewBox="0 0 800 600" preserveAspectRatio="xMidYMid">
          <text x="175" y="50" ng-show="!normalize">人數</text>
          <text x="175" y="50" ng-show="normalize">%</text>
        </svg>
      </div>
      <div class="col-sm-6">
        <div id="chosen">{{chosen}} / {{ chosenValue }}</div>
        <form class="form-inline">
          <div ng-click="play()" class="btn btn-default">play</div>
          <div ng-click="stop()" class="btn btn-default">stop</div>
          <div class="form-group">
            <select ng-model="curyear" class="form-control">
              <option ng-repeat="y in years" value="{{y}}">{{y}}</option>
            </select>
          </div>
          <div class="form-group">
            <select ng-model="curdis" style="min-width:300px" class="form-control">
              <option ng-repeat="d in diseases" value="{{d}}">{{d}}</option>
            </select>
          </div><br>
          <div style="margin:10px 0 0 0 " class="checkbox">
            <label>
              <input type="checkbox" ng-model="normalize"> 粗率
            </label>
          </div>
          <div style="margin:10px 0 0 20px" class="checkbox">
            <label>
              <input type="checkbox" ng-model="fixlegend"> 固定比例尺
            </label>
          </div>
          <div style="margin:10px 0 0 20px" class="checkbox">
            <label>
              <input type="checkbox" ng-model="slower"> 慢一點
            </label>
          </div><br>
          <div style="-webkit-transform:scale(1.5) translate(17px,0);margin-top:10px" data-href="http://g0v.github.io/cancer/viz/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true" class="fb-like"></div>
        </form>
        <h3 style="font-family:'century gothic'">
          <div class="note">請注意</div>
        </h3>
        <ul style="font-size:1.5em">
          <li>除錯中，可能有錯，若發現問題請回饋至 <a href="https://g0v.hackpad.com/fj3KFYXmoY2">這裡</a></li>
          <li>為什麼沒有台南市關廟區的資料？ 因為抓不下來:<br><img src="crash.png"></li>
        </ul>
        <hr>
      </div>
    </div>
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=538062799648166";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </body>
</html>